{% extends 'base.html.twig' %}


{% block title %}Lucky{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            background-image:
                linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url('{{ asset('img/01_Anemon.jpg') }}');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            color: white;
        }

        table {
            margin: 0 auto;
        }
    </style>
{% endblock %}

{% block body %}
    <article>
    <div class="gallery" style="text-align: center; color:rgb(43, 247, 70); margin-bottom: 20px;">
        <h1>VARNING !!!</h1>
        <h1>Ingen semester planerat i: {{ monthStr }}</h1>
        <h1>Avbryt allt annat och planera din semester omgående!!!</h1>
        <img src="{{ asset(currentImage) }}" alt="Image for {{ monthStr }}" style="width: 960px;">
    </div>

    <table border="1" cellpadding="10" cellspacing="0">
        <tr>
            <th colspan="8" style="text-align:center; font-size:24px; color:rgb(117, 234, 255);">{{ monthStr }} {{ yearStr }}</th>
        </tr>
        <tr>
            <th style="width: 4%; text-align: center; color:rgb(117, 234, 255);">V.</th>
            <th style="width: 12%; text-align: center; color:rgb(117, 234, 255);">Måndag</th>
            <th style="width: 12%; text-align: center; color:rgb(117, 234, 255);">Tisdag</th>
            <th style="width: 12%; text-align: center; color:rgb(117, 234, 255);">Onsdag</th>
            <th style="width: 12%; text-align: center; color:rgb(117, 234, 255);">Torsdag</th>
            <th style="width: 12%; text-align: center; color:rgb(117, 234, 255);">Fredag</th>
            <th style="width: 12%; text-align: center; color:rgb(117, 234, 255);">Lördag</th>
            <th style="width: 12%; text-align: center; color:rgb(117, 234, 255);">Söndag</th>
        </tr>
        {{ calendarRows|raw }}
    </table>
    </article>
{% endblock %}
